:root{
 --theme-color : #000 ;
 --theme-btn-bg-color : #000;
 --theme-txt-color : #fff;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
input:focus {
  box-shadow: none !important;
  outline: 0 none;
}
.error{
  font-size: 16px;
  color: red;
}